<div>
  <div>
    <h1>
      Portfolio #<%= current_user.id %> details
    </h1>

    <div>
      <div>
        <a href="/portfolios">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_portfolio/<%= @current_user.id %>">
          Delete portfolio
        </a>
      </div>
    </div>

    <table border="1">
      <tr>
        <th>
          Day
        </th>

        <th>
          Ticker
        </th>
        <th>
          Weight
        </th>
        <th>
          Dollarpos
        </th>
        <th>
          Portfolio Value
        </th>

        <% @the_portfolio.each do |p| %>
          <tr>
            <td>
              <%= p.day %>
            </td>

            <td>
              <%= p.ticker %>
            </td>

            <td>
              <%= p.weight %>
            </td>

            <td>
              <%= p.dollarpos %>
            </td>

            <td>
              <%= p.portfoliovalue %>
            </td>
          </tr>
        <%end%>

        <hr>
