<div>
  <div>
    <h1>
      Portfolio #<%= current_user.id %> details
    </h1>

    <div>
      <div>
        <a href="/portfolios">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_portfolio/<%= @current_user.id %>">
          Delete portfolio
        </a>
      </div>

      
      <div>
        <a href="/refresh_portfolio/<%= @current_user.id %>">
          Delete portfolio
        </a>
      </div>

    </div>


    <dl>
      <dt>
        Average Annualized return
      </dt>
      <dd>
        <%=@annualized_ret%>
      </dd>

      <dt>
        Annualized Std Dev
      </dt>
      Note this assumes independent returns
      <dd>
        <%= @annualized_std %>
      </dd>

       <dt>
        Annualized Sharpe Ratio
      </dt>
      Note this assumes independent returns
      <dd>
        <%= @annualized_sr %>
      </dd>

    </dl>
<hr>
    <!-- some plotting?-->
<%=line_chart(@cumu_rets, points: false, xtitle: 'Day', ytitle: 'Close $')%>
<hr>

    <table border="1">
      <tr>
        <th>
          Day
        </th>
        <th>
          Portfolio Value
        </th>
        <th>
          Portfolio Return
        </th>

        <% @the_portfolio.each do |p| %>
          <tr>
            <td>
              <%= p['day'] %>
            </td>
            <td>
              <%= p['portfoliovalue'] %>
            </td>
            <td>
              <%= p['return'] %>
            </td>

          </tr>
        <%end%>

        <hr>
