<div>
  <div>
    <h2>
      Today's Market Conditions
    </h2>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new stock
    </h2>

    <form action="/insert_stock" method="post">
      <div>
        <label for="ticker_box">
          Ticker
        </label>

        <input type="text" id="ticker_box" name="query_ticker">
      </div>

      <button>
        Create stock
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Day
        </th>

        <th>
          Ticker
        </th>
        
        <th>
          Close
        </th>

        <th>
          Open
        </th>

        <th>
          High
        </th>

        <th>
          Low
        </th>

        <th>
          Return
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_stocks.each do |a_stock| %>
      <tr>
        <td>
          <%= a_stock.id %>
        </td>

        <td>
          <%= a_stock.day %>
        </td>

        <td>
          <%= a_stock.ticker %>
        </td>

        <td>
          <%= a_stock.close %>
        </td>

        <td>
          <%= a_stock.open %>
        </td>

        <td>
          <%= a_stock.high %>
        </td>

        <td>
          <%= a_stock.low %>
        </td>

        <td>
          <%= a_stock.return %>
        </td>

        <td>
          <%= time_ago_in_words(a_stock.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_stock.updated_at) %> ago
        </td>

        <td>
          <a href="/stocks/<%= a_stock.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
