<div>
  <div>
    <h2>
      Today's Market Conditions
    </h2>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new stock
    </h2>

    <form action="/insert_stock" method="post">
      <div>
        <label for="ticker_box">
          Ticker
        </label>

        <input type="text" id="ticker_box" name="query_ticker">
      </div>

      <button>
        Create stock
      </button>
    </form>
  </div>

  <div>
    <h3>Refresh all data</h3>
    Note that there is an 8 name per minute restriction, and a 800 credit limit per day!
    <form action="/refresh_stock">
      <button>
        Refresh
      </button>
    </form>
  </div>
  
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Day
        </th>

        <th>
          Ticker
        </th>
        
        <th>
          Close
        </th>

        <th>
          Open
        </th>

        <th>
          High
        </th>

        <th>
          Low
        </th>

        <th>
          Return
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_stocks.each do |a_stock| %>
      <tr>
        <td>
          <%= a_stock.fetch('id') %>
        </td>

        <td>
          <%= a_stock.fetch('day') %>
        </td>

        <td>
          <%= a_stock.fetch('ticker') %>
        </td>

        <td>
          <%= a_stock.fetch('close') %>
        </td>

        <td>
          <%= a_stock.fetch('open') %>
        </td>

        <td>
          <%= a_stock.fetch('high') %>
        </td>

        <td>
          <%= a_stock.fetch('low') %>
        </td>

        <td>
          <%= a_stock.fetch('return') %>
        </td>

        <td>
          <%= time_ago_in_words(a_stock.fetch('created_at')) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_stock.fetch('updated_at')) %> ago
        </td>

        <td>
          <a href="/stocks/<%= a_stock.fetch('ticker') %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
