<div class="container text-center">
  <div class="row">
    <div class="col">
      <h4>
        Today's Market Conditions
      </h4>
    </div>

  </div>
</div>

<hr>

<div>
  <p>
    <form action="/insert_stock" method="post">
      <label for="ticker_box">Can't find a stock you like? Add it here:</label>
      <input type="text" id="ticker_box" name="query_ticker">
      <button>Create stock</button>
    </form>
  </p>
</div>

<div>
  <div>
    <table border="1" class='table'>
      <tr>

        <th>
          Day
        </th>

        <th>
          Ticker
        </th>

        <th>
          Close
        </th>

        <th>
          Open
        </th>

        <th>
          High
        </th>

        <th>
          Low
        </th>

        <th>
          Return
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_stocks.each do |a_stock| %>
        <tr>
          <td>
            <%= a_stock.fetch('day') %>
          </td>

          <td>
            <%= a_stock.fetch('ticker') %>
          </td>

          <td>
            <%= a_stock.fetch('close').round(2) %>
          </td>

          <td>
            <%= a_stock.fetch('open').round(2) %>
          </td>

          <td>
            <%= a_stock.fetch('high').round(2) %>
          </td>

          <td>
            <%= a_stock.fetch('low').round(2) %>
          </td>

          <td class=<%=if a_stock.fetch('return') < 0 then 'table-danger' else 'table-success' end %>>
            <%= a_stock.fetch('return').round(2) %>
          </td>

          <td>
            <a href="/stocks/<%= a_stock.fetch('ticker') %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<form action="/refresh_stock">
  <button>Refresh all data</button>
</form>
<small>Note that there is an 8 name per minute restriction, and a 800 credit limit per day!</small>
