<div>
  <div>
    <h1>
      <%= @the_ticker %> details
    </h1>

    <div>
      <div>
        <a href="/stocks">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_stock/<%= @the_ticker %>">
          Delete stock
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Average annualized return
      </dt>
      <dd>
        <%=@annualized_ret  %>
      </dd>

      <dt>
        Annualized Std Dev
      </dt>
      Note this assumes independent returns
      <dd>
        <%= @annualized_std %>
      </dd>

       <dt>
        Annualized Std Dev
      </dt>
      Note this assumes independent returns
      <dd>
        <%= @annualized_sr %>
      </dd>

    </dl>
  </div>
</div>
<hr>
<!-- some plotting?-->
<%=line_chart @matching_stock.group_by_day(:day).sum(:close), points: false, xtitle: 'Day', ytitle: 'Close $'%>

<hr>
<h3>Recent 100-day data </h3>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Day
        </th>

        <th>
          Close
        </th>

        <th>
          Open
        </th>
        
        <th>
          High
        </th>

        <th>
          Low
        </th>

        <th>
          Return
        </th>

      <% @matching_stock_recent100.each do |a_day| %>
      <tr>
        <td>
          <%= a_day.fetch('day') %>
        </td>

        <td>
          <%= a_day.fetch('close').round(2) %>
        </td>

        <td>
          <%= a_day.fetch('open').round(2) %>
        </td>

        <td>
          <%= a_day.fetch('high').round(2) %>
        </td>

        <td>
          <%= a_day.fetch('low').round(2) %>
        </td>

        <td>
          <%= a_day.fetch('return').round(2) %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<hr>
