<div>
  <div>
    <h1>
      Stock #<%= @the_stock.id %> details
    </h1>

    <div>
      <div>
        <a href="/stocks">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_stock/<%= @the_stock.id %>">
          Delete stock
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Day
      </dt>
      <dd>
        <%= @the_stock.day %>
      </dd>

      <dt>
        Close
      </dt>
      <dd>
        <%= @the_stock.close %>
      </dd>

      <dt>
        Open
      </dt>
      <dd>
        <%= @the_stock.open %>
      </dd>

      <dt>
        High
      </dt>
      <dd>
        <%= @the_stock.high %>
      </dd>

      <dt>
        Low
      </dt>
      <dd>
        <%= @the_stock.low %>
      </dd>

      <dt>
        Return
      </dt>
      <dd>
        <%= @the_stock.return %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_stock.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_stock.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit stock
    </h2>

    <form action="/modify_stock/<%= @the_stock.id %>"  method="post" >
      <div>
        <label for="day_box">
          Day
        </label>

        <input type="date" id="day_box" name="query_day" value="<%= @the_stock.day %>">
      </div>

      <div>
        <label for="close_box">
          Close
        </label>

        <input type="text" id="close_box" name="query_close" value="<%= @the_stock.close %>">
      </div>

      <div>
        <label for="open_box">
          Open
        </label>

        <input type="text" id="open_box" name="query_open" value="<%= @the_stock.open %>">
      </div>

      <div>
        <label for="high_box">
          High
        </label>

        <input type="text" id="high_box" name="query_high" value="<%= @the_stock.high %>">
      </div>

      <div>
        <label for="low_box">
          Low
        </label>

        <input type="text" id="low_box" name="query_low" value="<%= @the_stock.low %>">
      </div>

      <div>
        <label for="return_box">
          Return
        </label>

        <input type="text" id="return_box" name="query_return" value="<%= @the_stock.return %>">
      </div>

      <button>
        Update stock
      </button>
    </form>
  </div>
</div>

<hr>
