<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.css">
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
      <% if current_user != nil%>
        <a href="/users/sign_out"> Sign out </a>
        <a href="/users/edit"> Edit profile </a>
        <a href="/build_portfolio"> Build portfolio </a>
      <%else%>
        <a href="/users/sign_up"> Sign up </a>
        <a href="/users/sign_in"> Sign in </a>
      <%end%>
    </nav>

    <hr>

    <% if notice.present? %>
      <div style="color: green">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="color: red">
        <%= alert %>
      </div>
    <% end %>
    
    <h1>Portfolio Builder</h1>

    <%= yield %>
  </body>
</html>
